@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent-orange
	color: #fff

body
	margin: 0
	padding: 0
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea		
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold
p,h1, h2, h3, h4, h5, h6
	margin: 0





// Custom styles


// Common styles

.grid
	display: grid

.wrapper
	max-width: 1200px	
	padding: 0 10px
	margin: auto
	position: relative

input, textarea
	font-family: FontAwesome, sans-serif
	padding-left: 16px
	padding-right: 16px
	font-size: 13px
	border: none
	outline: none
	border-radius: 2px

.button
	font-size: 14px 
	text-transform: uppercase
	color: #fff
	cursor: pointer
	border: none
	border-radius: 2px
	padding: 14px 44px
	background-color: $accent-orange

section
	padding-top: 100px	

.wrapper	
	h2
		font-family: gotham-myproject, sans-serif
		font-weight: 800
		text-transform: uppercase
		font-size: 32px
		line-height: 24px
		text-align: center
		margin-bottom: 8px
	p
		font-family: gotham-myproject, sans-serif
		font-size: 16px
		text-align: center	

// Header

.header	
	background-color: #fff
	.wrapper
		height: 94px
		grid-template-columns: 1fr auto
		align-content: center

.main-menu
	padding: 0
	margin: 0
	list-style-type: none
	grid-template-columns: repeat(7, auto)
	grid-gap: 8px
	align-content: center
	li
		display: block
		a
			font-family: lato-myproject, sans-serif
			font-size: 13.5px
			text-transform: uppercase
			text-decoration: none
			color: $text
			font-size: 13.5px
			padding: 10px 20px 8px
			border-radius: 2px
			transition: background-color .3s ease, color .3s ease
			&:hover
				background-color: $accent-blue
				color: #ffffff
		&.active a
			background-color: $accent-orange
			color: #ffffff

// Banner section

.banner
	background-color: $accent-blue
	h2 
		color: #fff
	p
		margin-bottom: 30px
		color: #fff

	.request-form
		padding: 0 40px
		grid-template-columns: repeat(3, 1fr) auto
		grid-gap: 8px
		
.laptop
	width: 648px
	height: 346px
	margin: auto
	position: relative
	&-inner
		width: 648px
		height: 344px
		position: absolute
		top: 66px
		background-image: url(../img/laptop.png)
		background-repeat: no-repeat

.owl-carousel
	padding-top: 83px
	.owl-stage-outer
		width: 445px
		margin-left: 103px
	.owl-dots
		margin-top: 84px
		display: grid
		grid-template-columns: repeat(3, auto)
		grid-gap: 7px
		justify-content: center
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot
	width: 15px
	height: 15px
	border: 2px solid #dedfe0
	border-radius: 50%
	outline: none
	transition: border-color .5s ease
	&.active
		border-color: #21aade

// Sevices section

.services
	padding-top: 202px
	padding-bottom: 152px
	background-color: #fff
	h2 
		color: $h-text
	p
		color: $h-text
	&-content
		margin-top: 67px
		grid-template-columns: 1fr 1fr
		grid-gap: 68px
		font-family: lato-myproject, sans-serif
		.svg-inline--fa
			float: left
			font-size: 50px
			transition: color .25s ease
		a
			text-decoration: none
			color: $h-text
			&:hover
				.svg-inline--fa
					color: $accent-orange
		h3
			margin-bottom: 9px
			margin-left: 76px
			text-transform: uppercase
			font-size: 16px
			font-weight: bold
			color: $h-text
		p
			margin-left: 76px
			text-align: left
			line-height: 22px
			font-size: 13px
			color: $text

// About section

.about
	grid-template-columns: 1fr 1fr
	&-left
		background-size: cover
		background-position: center
	&-right
		background-color: $accent-orange
		grid-template-columns: minmax(min-content, 600px)
		padding-right: 30px
		.about-content
			padding-left: 80px
			padding-top: 162px
			padding-bottom: 174px
			color: #fff
			h2
				font-size: 30px
				font-family: gotham-myproject, sans-serif
				text-transform: uppercase
				margin-bottom: 20px	
			p				
				font-family: opensans-myproject, sans-serif
				font-size: 13px
				line-height: 24px			
				margin-bottom: 30px
			a.button
				display: inline-block
				border: 1px solid #e7ad48
				text-decoration: none
				font-family: lato-myproject, sans-serif
				transition: background-color 0.25s ease
				&:hover
					background-color: $accent-blue
	
// Price section

.price
	background-color: #e7edf3
	padding-top: 136px
	padding-bottom: 164px
	h2
		color: $h-text
	p.header-p
		color: #75888d
		margin-bottom: 46px
	&-content
		grid-template-columns: 1fr 1fr 1fr
		align-items: center
		.item
			padding: 47px 33px
			background-color: #fff
			border: 1px solid #ccd5df
			border-radius: 3px
			text-align: center
			h3
				text-transform: uppercase
				font-family: lato-myproject, sans-serif
				font-weight: 200
				font-size: 25px
			p
				text-transform: uppercase
				font-family: lato-myproject, sans-serif
				font-size: 13.5px
				line-height: 40px
				color: #B2B8BE
				border-top: 1px solid #e2e9f0
				&.dollars
					font-size: 56px
					font-weight: bold
					color: $accent-orange
					border: none
					sup
						font-size: 36px
				&.per-month
					border: none
					margin-bottom: 21px
			.button
				display: inline-block
				text-decoration: none
				margin-top: 18px
				padding: 9px 20px
		.item-premium
			padding: 80px 33px
			background-color: $accent-blue
			border: none
			h3
				color: #fff
			p
				color: #BDDEFB
				border-top: 1px solid #8eb8e2
				&.dollars
					color: #fff
					sup
						font-weight: 200				
						font-size: 36px
				&.per-month
					color: #fff
					line-height: 30px
			

@import "media" // Always at the end
